<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.led.led">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.hardware.sensor.gyroscope" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BT-06"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.led.controlAutito.DeviceList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.led.controlAutito.ControlAutito"
            android:label="BT-06"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.led.controlAutito.SensorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            ></activity>

        <service
            android:name="com.led.controlAutito.BTCom">
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>